body {
	background-color: rgb(49, 48, 54);
}

table {
	margin: auto;
	margin-top:20px;
    text-align: center;
    max-width:600px;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

label {
    color: rgb(189, 131, 24);
    margin: auto;
    font-size: 120%;
}

input {
	width: 300px;
}

form {
	width: 50%;
    margin: auto;
}

.buttons {
    text-decoration: none;
    color: rgb(189, 131, 24);
}

.buttons:hover {
    text-decoration: none;
    color: white;
}

.newbutton {
    text-decoration: none;
    color: rgb(189, 131, 24);
    font-size: 120%;
    margin-left: 660px !important;
    
}

.newbutton:hover {
    color: white;
    text-decoration: none;
}

.btn {
	margin-left: 1px;
}

