<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Music store</title>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1> Fan products</h1>
<h2 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h2>
<div class="col-md-4" style="padding:20px 0">
		<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger sign"/>
		</form>
		<a sec:authorize="!isAuthenticated()" class="btn btn-success sign2" href="/login"> Sign In</a>
	</div>
<table class="table table-dark">
	<tr> 
		<th> Product name <th>
		<th> Price (€) <th>
		<th> Artist <th>
		<th> Product <th>
		<th> Product type<th>
		<th sec:authorize="hasAuthority('ADMIN')"> </th>
	</tr>
		
		<tr th:each= "fanproduct : ${fanproducts}">
		<td th:text="${fanproduct.getProductName()}"> ProductName </td>
		<td> </td>
		<td th:text="${fanproduct.getPrice()}"> Price</td>
		<td> </td>
		<td th:text="${fanproduct.getArtist()}"> Artist</td>
		<td> </td>
		<td th:text="${fanproduct.getProduct()}"> Product</td>
		<td> </td>
		<td th:text="${fanproduct.producttype.productType}"> ProductType</td>
		<td> </td>
		<td sec:authorize="hasAuthority('ADMIN')"> <a class= "btn btn-sm btn-danger buttons" th:href="@{/deleteProduct/{id}(id=${fanproduct.id})}"> Delete </a></td> 
		<td sec:authorize="isAuthenticated()"> <a class= "btn btn-primary buttons" th:href="@{/editProduct/{id}(id=${fanproduct.id})}"> Edit </a></td>
	</tr>
</table>
<a sec:authorize="isAuthenticated()" class= "btn btn-dark reference1" href="/addProduct" role="button"> New fan product </a>
<a  class="btn btn-dark reference" href="/disclist" role="button"> Shop for discs </a>

</body>
</html>