
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create product type</title>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/main.css">
</head>
<body>
	<h1>Create product type</h1>
	<div>
		<form th:object="${producttype}" th:action="@{savenewProducttype}" action="#" method="post">
		  	<label for="producttype"> Product type</label>
			<input type="text" class="form-control" id="producttype" th:field="*{productType}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="form-control" value="Save"></input>
		</form>
	</div>
</body>
</html>